# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.vscode/
.idea/

# MkDocs backup build output
mkdocs_old/site/

# environment variables
.env
.env.production

# OS-specific files
.DS_Store
Thumbs.db
